<div class="row footerBar">
   <ul>
   	<li><a data-ng-href="/about">About Us</a></li>
   	<li><a data-ng-href="/contact">Contact Us/Product Request</a></li>
   	<li><a data-ng-href="/careers">Careers</a></li>
   	<li><a data-ng-href="/privacy">Privacy Policy</a></li>
   	<li><a data-ng-href="/recalls">Product Recalls</a></li>
   </ul>
</div>
<div class="copyrightBar">
	Copyright © 2015 | <a class="patent" target="_blank" href="http://patft1.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&amp;Sect2=HITOFF&amp;d=PALL&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&amp;r=1&amp;f=G&amp;l=50&amp;s1=7734514.PN.&amp;OS=PN/7734514&amp;RS=PN/7734514">Patent No US 7,734,514 B2.</a>
</div>